# Azure OpenAI
AZURE_OPENAI_ENDPOINT=https://houseblreader-resource.openai.azure.com/
AZURE_OPENAI_API_KEY=YOUR_KEY
AZURE_OPENAI_API_VERSION=2024-08-01-preview
AZURE_OPENAI_DEPLOYMENT=gpt-4o-mini

# OCR
OCR_DPI=300
TESSERACT_LANG=eng
# TESSERACT_CMD=C:\Program Files\Tesseract-OCR\tesseract.exe

# API behavior
RETURN_RAW_TEXT=false
MAX_OCR_CHARS=60000
